*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Poppins,sans-serif;
}

body{
    background:#f4f6f9;
}

.container{
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
}

.form-box{
    width:600px;
    background:white;
    padding:35px;
    border-radius:12px;
    box-shadow:0 5px 15px rgba(0,0,0,.15);
}

.form-box h2{
    margin-bottom:25px;
    color:#ff6b00;
    text-align:center;
}

label{
    display:block;
    margin-top:15px;
    font-weight:600;
}

input,
textarea,
select{
    width:100%;
    padding:12px;
    margin-top:8px;
    border:1px solid #ccc;
    border-radius:6px;
    font-size:15px;
}

.buttons{
    margin-top:25px;
    display:flex;
    gap:15px;
}

.save-btn{
    background:#ff6b00;
    color:white;
    border:none;
    padding:12px 25px;
    border-radius:6px;
    cursor:pointer;
    font-size:16px;
}

.save-btn:hover{
    background:#e65c00;
}

.cancel-btn{
    background:#555;
    color:white;
    padding:12px 25px;
    border-radius:6px;
    text-decoration:none;
}

.cancel-btn:hover{
    background:#333;
}